.container {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  
  .dice {
    text-align: center;
    display: inline-block;
  
  }
  
  body {
    background-color: #2E236C;
  }
  
  h1 {
    margin: 30px;
    font-family: "Tiny5",sans-serif;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #C8ACD6;
  }
  
  p {
    font-size: 2rem;
    color: #C8ACD6;
    font-family: 'Indie Flower', cursive;
  }
  
  img {
    width: 80%;
  }
  
  footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  
  }
  .prompt{
    text-align: center;
    font-family: 'Lobster',cursive;
    font-size: medium;
    color: whitesmoke;
  }
  
